name: Hello World

on:
  workflow_dispatch:

jobs:
  say-hello:
    runs-on: ubuntu-24.04
    steps:
      - run: echo "Hello from GitHub Actions!"
  say-vijay:
    runs-on: ubuntu-24.04
    steps:
      - run: echo "Preety little baby la la la"



